@model CustomerManagement.Web.Models.Customer

@if (Model.IsActive == false)
{
    <tr class="danger">
        <td>@Model.FirstName</td>
        <td>@Model.LastName</td>
        <td style="color:red">Inactive</td>
    </tr>
}
else
{
    <tr class="success">
        <td>@Model.FirstName</td>
        <td>@Model.LastName</td>
        <td>
            <a asp-action="Edit" asp-route-Id="@Model.Id" asp-route-FirstName="@Model.FirstName" 
               asp-route-LastName="@Model.LastName" 
               asp-route-Email="@Model.Email" asp-route-Address="@Model.Address" 
               asp-route-PhoneNumber="@Model.PhoneNumber" >Edit
            </a>
        </td>
    </tr>
}


